---
import { Image } from 'astro:assets';

const response = await fetch(
  'https://api.github.com/repos/tiramisulabs/seyfert-docs/contributors?per_page=15',
  {
    cache: 'force-cache',
  }
);
const data = await response.json();
const { label } = Astro.props;
---

<div
  class="flex gap-2 items-center flex-row dark:bg-slate-800 rounded-md shadow-md not-content flex-wrap justify-center p-2"
>
  {
    data.map((contributor: any) => (
      <div class="p-2 flex items-center justify-center flex-col">
        <Image
          src={contributor.avatar_url}
          alt={contributor.login}
          inferSize
          class="rounded-full w-16 h-16"
        />
        <p class="text-sm font-bold my-1">{contributor.login}</p>
        <span class="text-xs">{label}: {contributor.contributions}</span>
      </div>
    ))
  }
</div>
